body{
    background-color: #000;
}
.block{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 0 auto;
}
.block-img{
    align-self: center;
}
.block-text{
    .text-title{
        color: var(--blue-01, #1F3F68);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        letter-spacing: 1px;
    }
}

